
.DS_Store
MC2/art.scnassets/models/Table.scn
MC2/art.scnassets/models/SideTable.scn
MC2/art.scnassets/models/Monitor.scn
MC2/art.scnassets/models/Coach.scn
MC2/art.scnassets/models/Cactus.scn
MC2/art.scnassets/Character/boy_sleep.scn
MC2.xcodeproj/project.xcworkspace/xcuserdata/felinevictoria.xcuserdatad/UserInterfaceState.xcuserstate
